@model IEnumerable<Web_Proje.Models.Books>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.kitapAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.basimYili)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.yazar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sayfaSayisi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.konu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kategori)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.kitapAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.basimYili)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.yazar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sayfaSayisi)
            </td>
            <td>
                <p style="width: 70px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"> @Html.DisplayFor(modelItem => item.konu)</p>
            </td>
            <td>
                <p style="width: 70px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"> @Html.DisplayFor(modelItem => item.link)</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kategori)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.kitapID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.kitapID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.kitapID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
